* {
    /* Reset the default styles. 
    Use border-box because it's easier! */
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body {
  background:#1a2125;
  color:aliceblue;
  font-family:'Open Sans', sans-serif;
  font-weight:300;
  margin:0 auto;
  height: 100%;
  width: 100%;
  
  /* Click-and-drag or text-selection doesn't make sense. */
  /* Or long-tap on webkit phones. */
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

main {
  /* Use a max-width so that we have 4 columns */
  max-width:680px;
  margin:auto;
  padding:20px;
  zoom: 100%;
}

ul {
  /* We don't need actual bullets */
  list-style:none;
}

li {
  float:left; /* So that they wrap */
  height:150px;
  width:150px;
  margin:5px; /* The gaps between them */
  
  text-transform:capitalize;
  
  /*transition may need prefixes in some browsers */
  -webkit-transition:.2s -webkit-transform, 1s opacity;
  -moz-transition:   .2s -moz-transform, 1s opacity;
  -o-transition:     .2s -o-transform, 1s opacity;
  transition:        .2s transform, 1s opacity;
  
  /*transform*/
  -webkit-transform:perspective(800px);
  -moz-transform:perspective(800px);
  -ms-transform:perspective(800px);
  -o-transform:perspective(800px);
  transform:perspective(800px);
  
  /*transform-style*/
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  -o-transform-style:preserve-3d;
  transform-style:preserve-3d;
  -webkit-transform-origin-x:50%;
  -webkit-transform-origin-y:50%;
  
  text-align:center;
  cursor:pointer;
}

/* When moused over, rotate it! */
li:hover {
  /*transform*/
  -webkit-transform:perspective(800px) rotate3d(0, 0, 1, 5deg);
  -moz-transform:perspective(800px) rotate3d(0, 0, 1, 5deg);
  -ms-transform:perspective(800px) rotate3d(0, 0, 1, 5deg);
  -o-transform:perspective(800px) rotate3d(0, 0, 1, 5deg);
  transform:perspective(800px) rotate3d(0, 0, 1, 5deg);
} 

/* It'd be neat to have double-width tiles */
.span2{
  width:310px;
}

/* Icon and number */
li i{
  font-size:60px;
  margin:35px 0 0;
}

/* Text label on tiles */
li span{
  position:absolute;
  bottom:8px;
  left:8px;
}

/* Specialized background colours */
.about{
  background:rgb(27, 161, 226);
}
.projects{
  background:rgb(240, 163, 10);
}
.contactme{
  background:rgb(119, 221, 119);
}
.k4k{
  background:rgb(130, 111, 214);
}
.ihw{
  background:rgb(255, 105, 97);
}
.living{
  background:rgb(162, 0, 37);
}
.hwchron{
  background:rgb(100, 118, 135);
}

.title{
    font-size: 80px;
    text-align: center;
    font-style: italic;
    white-space: nowrap;
}

.subtitle {
	font-size: 20px;
	text-align: center;
}

.contact {
	display: inline;
	margin: 0;
	padding: 0 7 7 7;
}

a {
	color: rgba(255,255,255,0.81);
}

main li {
	text-align: center;
}

.fa {
	font-size: 450%;
}

.contact .fa {
	font-size: 200%;
	margin-top: 8px;
}

.contact a:hover {
	color: rgba(0,146,194,0.89);
}

.proj {
	padding-right: 8px;
}

#topArrow {
	float: right;
}

/* Section custom styles 
########################*/

.gen-title {
	font-weight: 500;
	font-size: 70px;
	text-align: center;
	padding-top: 5%;
}

/* about */

.about-cont {
	padding: 10px;
}
#about-body {
	display: inline-block;
	position: absolute;
	font-size: 110%;
	width: 45%;
	margin-top: 500px;
	left: 0;
	right: 0;
}

#about-title {
	font-size: 330%;
	padding-bottom: 5%;
	margin-top: 400px;
	display: inline-block;
	float: right;
	position: absolute;
	left: 0;
	right: 0;
	white-space: nowrap;
	text-align: center;
}

#aboutPhoto {
	display: inline-block; 
	width: 600px;
	height: 600px;
	border-radius: 300px;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	background: url(http://i.imgur.com/paeHAZP.jpg) no-repeat;
	background-size: 600px 600px;
	border: 10px solid white;
	zoom: 66%;
	position: absolute;
	left:0;
	right:0;
	margin: auto;
}

/* projects */

#project-title {
	font-weight: 500;
	font-size: 70px;
	text-align: center;
	padding-top: 5%;
}

.projectLine {
	display: inline-block;
	padding-left: 30%;
	font-size: 20px;
	width: 80%;
}

#popular {
	padding-left: 30%;
	padding-top: 2%;
	display: block;
}

.projectLine a{
	text-decoration: none;
	color:#737373;
	font-size: 30px;
}
.projectLine a:hover{
	color: #47c8ff;
}

/* contact */

#contact-title {
	font-weight: 500;
	font-size: 70px;
	text-align: center;
	padding-top: 2%;
}

.contacts {
	font-size: 40px;
}

.contacts a {
	text-decoration: none;
}

.contacts .fa {
	font-size: 200%;
	margin-top: 0.5%;
	padding-left: 5%;
}

.contacts a:hover {
	color: rgba(225,102,0,0.86);
}

/* content */

.content-title{
	padding-top: 1%;
	padding-bottom: 5%;
}

.content-body {
	display: inline-block;
	position: absolute;
	font-weight: 400;
	font-size: 20px;
	padding-left: 4%;
	width: 40%;
	float: left;
}

.content-photo {
	display: inline-block;
	float: right;
	width: 700px;
	height: 700px;
}

/* k4k */

#k4k-photo {
	background: url(http://dwold.com/public/img/K4K.png) no-repeat;
}

/* ihw */

#ihw-photo {
	background: url(http://dwold.com/public/img/ihwappicon.png) no-repeat;
}

/* Living Planet */

#lp-photo {
	padding-left: 5%;	
}

/* hw chronicle */

#hwchron-photo {
	padding-left: 5%;
}

#hwchron-body {
	font-size: 17px;
}


/* Misc */

.full-cont {
	width: 100%;
}

/* New Style */

.top {
	height: 80px;
    position: fixed;
    width: 100%;
}

.bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(117,117,117,0.6);
  text-align: left;
  opacity: 30%;
  color: white;
}

.menu-item {
	display: inline-block;
	padding: 20px 8% 0 8%; //top, right, bottom, left
	font-size: 25px;
	font-family: monospace;
}

.menu-item span:hover {
	color: rgba(0,146,194,0.89);
	cursor: pointer;

}

.nav-cont {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
}

#d-home {
	position: absolute;
	right: 5;
	bottom: 0;
}

#d-home:hover svg path,
#d-home:hover{
	fill: rgba(0,146,194,0.89);
	color: rgba(0,146,194,0.89);
}

.bottom-new{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: left;
  opacity: 30%;
  color: white;
}
	



